# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/apache-maven-3.6.1
/apache-storm-2.0.0
/kafka_2.11-2.2.0
spark-2.4.3-bin-hadoop2.7

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
